<link rel="stylesheet" href="/css/styles.css">
<script src="/js/main.js"></script>

<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome to Flat Track</h1>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
</body>
